<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Médicos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navbar">
        <a th:href="@{/paciente/list}">Pacientes</a>
        <a th:href="@{/medico/list}">Médicos</a>
        <a th:href="@{/consulta/list}">Consultas</a>
    </nav>
    <div class="container">
        <h1>Médicos Cadastrados</h1>
        <div class="d-flex" style="margin-bottom: 20px;">
            <a th:href="@{/medico/form}" class="btn">Novo Médico</a>
        </div>
        
        <div th:if="${#lists.isEmpty(medicos)}">
            <p>Nenhum médico cadastrado.</p>
        </div>
        
        <table th:unless="${#lists.isEmpty(medicos)}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CRM</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="m : ${medicos}">
                    <td th:text="${m.id}"></td>
                    <td th:text="${m.nome}"></td>
                    <td th:text="${m.crm}"></td>
                    <td class="d-flex">
                        <a th:href="@{/medico/consultas/{id}(id=${m.id})}" class="btn" style="background-color: #10b981;">Ver Consultas</a>
                        <a th:href="@{/medico/edit/{id}(id=${m.id})}" class="btn">Editar</a>
                        <a th:href="@{/medico/remove/{id}(id=${m.id})}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
