<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout('Médicos', ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="container">
        <h1>Médicos Cadastrados</h1>
        <div class="d-flex" style="margin-bottom: 20px;">
            <a th:href="@{/medico/form}" class="btn btn-primary">Novo Médico</a>
        </div>

        <div th:if="${#lists.isEmpty(medicos)}">
            <p>Nenhum médico cadastrado.</p>
        </div>

        <table th:unless="${#lists.isEmpty(medicos)}" class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CRM</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="m : ${medicos}">
                    <td th:text="${m.id}"></td>
                    <td th:text="${m.nome}"></td>
                    <td th:text="${m.crm}"></td>
                    <td class="d-flex gap-2">
                        <a th:href="@{/medico/consultas/{id}(id=${m.id})}" class="btn btn-success btn-sm">Ver Consultas</a>
                        <a th:href="@{/medico/edit/{id}(id=${m.id})}" class="btn btn-primary btn-sm">Editar</a>
                        <a th:href="@{/medico/remove/{id}(id=${m.id})}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>
