<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout('Pacientes', ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="container">
        <h1>Pacientes Cadastrados</h1>
        <div class="d-flex" style="margin-bottom: 20px;">
            <a th:href="@{/paciente/form}" class="btn btn-primary">Novo Paciente</a>
        </div>

        <div th:if="${#lists.isEmpty(pacientes)}">
            <p>Nenhum paciente cadastrado.</p>
        </div>

        <table th:unless="${#lists.isEmpty(pacientes)}" class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${pacientes}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nome}"></td>
                    <td th:text="${p.telefone}"></td>
                    <td class="d-flex gap-2">
                        <a th:href="@{/paciente/consultas/{id}(id=${p.id})}" class="btn btn-success btn-sm">Ver Consultas</a>
                        <a th:href="@{/paciente/edit/{id}(id=${p.id})}" class="btn btn-primary btn-sm">Editar</a>
                        <a th:href="@{/paciente/remove/{id}(id=${p.id})}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>
